.lives-container {
  min-height: 25px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  gap: 3px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.lives-container button {
  height: 100%;
  border: none;
  border-radius: 3px;
  font-family:
    Hanken Grotesk,
    sans-serif;
  font-weight: 700;
  font-size: 0.75rem;
  padding: 6px 10px;
  white-space: nowrap;
}
